﻿@model MaterialPickVM



@if (Model.Label != null)
{
    <input type="hidden" id="man-product" value="@Model.Label.ProductNoBeingManufactured" />
}
else
{
    <input type="hidden" id="man-product" value="" />
}

<input type="hidden" value="@Model.Message" id="message" />
<input type="hidden" value="@Model.MessageHeader" id="messageheader" />
<script>
    if ($("#man-product").val() != "") {
        $("#label-productno").val($("#man-product").val());
        $("#man-product").val(null);
        $("#dialog-form1").dialog("open");
    }

</script>
<table class="table table-responsive-md" id="orderrows" cellpadding="0">
    <thead>
        <tr>
            <th>
                <h4>@BABC_Logistics_core.Language.Resources.Product</h4>
            </th>
            <th>
                <h4>@BABC_Logistics_core.Language.Resources.Operation</h4>
            </th>
            <th>
                <h4>@BABC_Logistics_core.Language.Resources.Material</h4>
            </th>
            <th>
                <h4>@BABC_Logistics_core.Language.Resources.Details</h4>
            </th>
            <th>
                <h4>@BABC_Logistics_core.Language.Resources.Amount</h4>
            </th>
            <th>
                <h4>@BABC_Logistics_core.Language.Resources.WarehouseNo</h4>
            </th>
            <th><h4>@BABC_Logistics_core.Language.Resources.Move</h4></th>

        </tr>
    </thead>
    <tbody>
        @if (Model.OH.MaterialRows != null)
        {

            foreach (var item in Model.OH.MaterialRows)
            {
                bool fullDeliver = item.ReservationCode.CompareTo("5") == 0 ? true : false;

                string rowStyle = "";

                if (fullDeliver)
                {
                    rowStyle = "background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);color:GrayText;";
                }

                <tr style="@rowStyle">

                    <td>
                        @item.ProductNo
                    </td>
                    <td>
                        @item.OperationNo
                    </td>
                    <td>
                        @item.ProductDescription
                    </td>
                    <td>
                        @item.ProductDescription2
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    <td>

                        @if (item.Product.WarehouseList != null)
                        {
                            foreach (BABC_Logistics_core.GIS.DTO.WarehouseNumber wn in item.Product.WarehouseList)
                            {
                                if (wn.Stock > 0)
                                {
                                    <h6><b><i>@wn.Id</i>:</b><i> @wn.Stock </i></h6>
                                }
                            }
                        }



                    </td>
                    <td align="right">
                        @if (!string.IsNullOrEmpty(item.WarehouseNo))
                        {
                            <form method="post" action="/Production/Location">
                                <button type="submit" class="btn btn-outline-dark">@BABC_Logistics_core.Language.Resources.Refill</button>
                                <input type="hidden" name="onr" value="@Model.OH.OrderNo" />
                                <input type="hidden" name="row" value="@Model.OH.RowNo" />
                                <input type="hidden" name="matrow" value="@item.MaterialRowNo" />
                                <input type="hidden" name="opn" value="@item.OperationNo" />
                            </form>
                        }
                    </td>
                    <td>
                        @if (item.ReservationCode == "5")
                        {
                            <form method="post" action="/Production/BackMaterial">

                                <input type="hidden" name="onr" value="@Model.OH.OrderNo" />
                                <input type="hidden" name="row" value="@Model.OH.RowNo" />
                                <input type="hidden" name="matrow" value="@item.MaterialRowNo" />
                            </form>
                            <div id="back-buttons-@item.RowNo" class="btn-group pull-right" style="display: block">
                                <a id="btn-back-@item.MaterialRowNo" data-onr="@item.OrderNo" data-row="@item.RowNo" data-matrow="@item.MaterialRowNo" class="btn btn-danger btn-back-row btn-prog" onclick="backFuntion(this.id)">@BABC_Logistics_core.Language.Resources.Back</a>
                            </div>
                        }
                    </td>

                </tr>
            }
        }
    </tbody>
</table>




