﻿@model BABC_Logistics_core.Models.WarehouseMoveVM
@{
    ViewData["Title"] = "Location";
}
<link rel="stylesheet" href="~/css/site.css" />
<style>
    #Input {
        width: 200px;
    }

    #Btn {
        margin: 10px 0px;
    }

    #Border {
        border-radius: 20px 70px;
        padding: 30px
    }

    }

    .table tr:nth-child(Odd) {
        background: #E7E8EC;
    }

    .table th {
        background-color: white;
    }
    #org_productno{
        width:170px;

    }
    #warehousenoto {
        width: 170px;
    }
    #warehouse_to {
        width: 170px;
    }
    #productno {
        width: 170px;
    }
    #amount {
        width: 170px;
    }

</style>
<div style="background-color:lightgray" id="Border">
    <h1>Lagerflytt</h1>
</div>
<body>
    @using (Html.BeginForm("ExecuteWarehouseMove", "Production", FormMethod.Post))
    {
        <label for="order"><b>Selected Material</b></label>
        <input type="text" value="@Model.ProductNo" id="org_productno" class="form-control" readonly>
        <label for="order"><b>Receiving WarehouseNo</b></label>
        <input type="text" value="@Model.WarehouseNoTo" class="form-control" id="warehousenoto" name="WarehouseNoTo" readonly>

        <label for="order"><b>Move from current WarehouseNo</b></label>
        <input type="text" value="@Model.WarehouseNoFrom" id="warehouse_to" name="WarehouseNoFrom" autofocus class="form-control">

        <label for="order"><b>Article</b></label>
        <input type="text" id="productno" name="ProductNo" class="form-control" />

        <label for="order"><b>Pcs to move</b></label>
        <input type="text" value="@Model.Amount" id="amount" name="Amount" class="form-control">

        <input type="hidden" value="@Model.OrderNo" id="orderno" name="OrderNo" class="form-control">
        <input type="hidden" value="@Model.RowNo" id="rowno" name="RowNo" class="form-control">
        <input type="hidden" value="@Model.MaterialRow" id="materialrow" name="MaterialRow" class="form-control">
        <input type="hidden" value="@Model.OperationNo" id="opn" name="OperationNo" class="form-control">

        <button type="submit" id="Btn" class="btn btn-primary">Confirm</button>
    }


    <table class="table">
        <thead>
            <tr>
                <th>
                    <h4>Lagerplats</h4>
                </th>
                <th>
                    <h4>Antal</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var w in Model.WarehouseList)
            {
                <tr>
                    <td class="warehouses">
                        @w.Id
                    </td>
                    <td>
                        @w.Stock
                    </td>



                </tr>
            }
        </tbody>
    </table>



</body>
<script>
    $(document).ready(function () {
        $('#warehouse_to').keypress(function (e) {
            if (e.which != 13) {
                return true;
            }
           
            var bFound = false;
            $(".warehouses").each(function () {
                if ($(this).html().trim() == $("#warehouse_to").val().trim()) {
                    bFound = true;
                }
            });

            if (bFound) {
                $("#productno").focus();
            }
            else {
                alert("Could not find warehousenumber on product!")
            }

            return false;
        });

        $('#productno').keypress(function (e) {
            if (e.which != 13) {
                return true;
            }
            //alert($("#productno").val());
            if ($("#org_productno").val() == $("#productno").val()) {
                $("#amount").focus();
            }
            else {
                alert("Productnumber dont match!")
                $("#productno").focus();
            }

            return false;
        });
    });
    $("table tr").each(function () {
        var sold = $(this).find(":nth-child(2)");
        if (parseFloat(sold.text()) === 0)
            $(this).hide();
    });

</script>

