﻿@model MaterialPickVM

@{
    ViewData["Title"] = "MaterialList";

}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@*<link rel="stylesheet" href="~/css/site.css" />*@

<meta name="viewport" content="width=device-width, initial-scale=-100%">

<head>
    <style>
        label, input {
            display: block;
        }

            input.text {
                margin-bottom: 12px;
                width: 95%;
                padding: .4em;
            }

        fieldset {
            padding: 0;
            border: 0;
            margin-top: 25px;
        }



        .ui-dialog .ui-state-error {
            padding: .3em;
        }

        .validateTips {
            border: 1px solid transparent;
            padding: 0.3em;
        }

        .table th {
            border: hidden;
        }

        #create-user {
            type: checkbox;
        }

        .calle-fjonk {
            role: checkbox;
        }

        .table th {
            background-color: white;
            border-top-color: white;
        }



        .table tr:nth-child(Even) {
            background: #E7E8EC;
        }

        #Border {
            border-color: grey;
            border-radius: 20px 70px;
            padding: 30px
        }

        #Input {
            padding-right: 2px
        }

        #Table {
            margin: 10px 0px;
            animation-fill-mode;
        }

        #Btn {
            margin: 10px 0px;
        }

        #Toast {
            border-radius: 10px;
            background: linear-gradient(to bottom right, #66ccff 0%, #ffffff 100%);
        }

        #productno {
            width: 270px;
        }
    </style>


</head>

<body>
    <div style="position: absolute; top: 0; right: 0;">
        <div class="toast fade" role="alert" aria-live="assertive" data-delay="5000" aria-atomic="true" id="Toast">
            <div class="toast-header">
                <img src="" class="rounded mr-2" alt="">
                <strong class="mr-auto"><span id="toastmessageheader"></span></strong>
                <small class="text-muted">just now...</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <span id="toastmessage"></span>
            </div>
        </div>

    </div>

    <div style="background-color: lightgray" id="Border">

        <h1> Materiallist</h1>
        <div class="input-group">
            <table id="Table1" width="100%">
                <tr>
                    <td>@BABC_Logistics_core.Language.Resources.Orderrows</td>
                    <td>@BABC_Logistics_core.Language.Resources.Operation</td>
                    <td>@BABC_Logistics_core.Language.Resources.Product</td>
                </tr>

                <td> <input type="text" value="@Model.OH.OrderNo-@Model.OH.RowNo" readonly class="form-control"> </td>
                <td> <input type="text" value="@Model.OH.MaterialRows[0]?.OperationNo" readonly class="form-control"> </td>
                @*<td> <input type="text" value="@Model.OH.MaterialRows.Count > 0 ? @Model.OH.MaterialRows[0]?.OperationNo : test " readonly class="form-control"> </td>*@
                <td> <input type="text" value="@Model.OH.ProductNo - @Model.OH.ProductDescription" readonly class="form-control"> </td>
                </tr>
            </table>
        </div>

    </div>
        <div class="panel panel-default" style="margin:15px">
            <div class="panel-heading panel-header-pickorder">
                <div>
                    <input id="productno" type="text" name="productno" style="display:inline;" autofocus placeholder="Search id..." class="form-control input-search-sku ">
                    <input type="hidden" id="onr" value="@Model.OH.OrderNo" />
                    <input type="hidden" id="row" value="@Model.OH.RowNo" />
                    <input type="hidden" id="opn" value="@Model.OperationNo" />
                </div>
            </div>
            <div id="orderrows">
                @Html.Partial("_MaterialRows")
            </div>
        </div>
</body>

<script>
    $(document).ready(function () {
        //$("#toastmessageheader").text($("#messageheader").val());
        //$("#toastmessage").text($("#message").val());
        //$('.toast').toast('show');

        $('.input-search-sku').keypress(function (e) {
            if (e.which != 13) {
                return true;
            }

            var emptyTextBoxes = $('.productno').filter(function () { return this.value == $("#sku").val(); });
            var string = "The blank textbox ids are - \n";

            emptyTextBoxes.each(function () {
                string += "\n" + this.name;
            });

            if (emptyTextBoxes.length > 0) {
                $("#product-dialog").dialog("open");
            }
            else {
                $.get("/Production/PickMaterial", { productno: $("#productno").val(), onr: $("#onr").val(), row: $("#row").val(), opn: $("#opn").val() }).done(function (data) {
                    $("#orderrows").html(data);
                    //$("#pg-bar").hide();
                    $("#productno").val("");
                    //$('.toast').toast('show');
                });

                $("#pg-bar").show();
            }


            return false;
        });

        $("#dialog-form1").dialog({
            autoOpen: false,
            height: 400,
            width: 350,
            modal: true,
            buttons: {
                "Ok": function () {
                    if ($("#scanned-label").val() != $("product-label").val()) {
                        alert("No match!");
                        $("#scanned-label").focus();
                    }
                    else {
                        $("#dialog-form1").dialog("close");
                    }
                },
                Cancel: function () {
                    $("#dialog-form1").dialog("close");
                }
            },
            close: function () {
                close();
            }
        });
    });

    function backFuntion(id) {
        var current = "#" + id;

        var options = {};
        options.url = "/Production/BackMaterial";
        options.type = "POST";
        options.data = { onr: $(current).attr("data-onr"), row: $(current).attr("data-row"), matrow: $(current).attr("data-matrow"), opn: $("#opn").val() };
        //options.data = JSON.stringify({ onr: $(current).attr("data-onr"), row: $(current).attr("data-row"), matroe: $(current).attr("data-matrow") });
        options.dataType = "text";
        //options.contentType = "application/json";
        options.success = function (data) {
            $("#orderrows").html(data);
            //$("#pg-bar").hide();
            $("#productno").val("");
            //$('.toast').toast('show');

            return false;
        };
        options.error = function () { alert("Error retrieving states!"); };
        $.ajax(options);
    }

</script>
<div id="dialog-form1" title="Check Produkt Label">
    <form>
        <fieldset>
            <label for="scanned-label"><b>EAN on Label</b></label>
            <input type="text" name="scanned-label" id="scanned-label" value="" class="text ui-widget-content ui-corner-all" placeholder="Scan labels EAN...">
            <label for="label-productno"><b>Product being produced</b></label>
            <input type="text" id="label-productno" value="" />
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            @*<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">*@
        </fieldset>
    </form>
</div>

