﻿@model BABC_Logistics_core.GIS.DTO.ProductionOrderHead
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=-100%" />
<head>
    <style>
        #Border {
            border-radius: 20px 70px;
            padding: 30px
        }

        #Input {
            padding-right: 2px;
        }
         #Table{
             border-top-color:red;
             
             

 

         }
        .table tbody{
           
        }
        table tr:nth-child(Even) {
            background: #E7E8EC;
            border: 0;
        }
        .table th {
            background-color: white;
            border-top-color: white;
            border: 0;
        }
       
 
   
    </style>


</head>
<div style="background-color: lightgray" id="Border">
    <h1 class="">@BABC_Logistics_core.Language.Resources.Operationslist</h1>

    <div class="input-group">
        <form method="post" action="/Production/OperationList">
            <div class="form-group">
                <label for="order">Produktionsorder</label>
                <input id="order" type="text" name="order_and_row" autofocus class="form-control" />
            </div>
            <button type="submit" id="Btn" class="btn btn-primary">@BABC_Logistics_core.Language.Resources.Get</button>
        </form>
    </div>
</div>

@if (Model != null)
{
    <div style="margin-top:20px">

        <table class="table" id="Table">
            <thead>
                <tr>
                    <th>
                        <h4>@BABC_Logistics_core.Language.Resources.Order -@BABC_Logistics_core.Language.Resources.Row</h4>
                    </th>
                    <th>
                        <h4>Operation</h4>
                    </th>
                    <th>

                    </th>
                    <th>
                        <h4>@BABC_Logistics_core.Language.Resources.Amount</h4>
                    </th>
                    <th>
                        <h4>@BABC_Logistics_core.Language.Resources.WarehouseNo</h4>
                    </th>
                    <th>

                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @if (Model.OperationRows != null)
                {
                    foreach (var item in Model.OperationRows)
                    {
                <tr>
                    <td>
                        @item.OrderNo - @item.RowNo
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OperationNo)
                    </td>
                    <td>
                    </td>
                    <td>@item.PlannedAmount</td>
                    <td>
                        @if(item.ProductionGroupObject != null)
                        {
                            @item.ProductionGroupObject.WarehouseNo
                        }
                    </td>
                    
                    <td align="right">
                        
                        <form method="get" action="/Production/MaterialList">
                            <input type="hidden" name="onr" value="@Model.OrderNo" />
                            <input type="hidden" name="row" value="@item.RowNo" />
                            <input type="hidden" name="opn" value="@item.OperationNo" />
                            <button type="submit" class="btn btn-primary">@BABC_Logistics_core.Language.Resources.Pick</button>
                        </form>
                    </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    

}

