﻿@model BABC_Logistics_core.GIS.DTO.OrderHead

@{
	ViewBag.Title = "Details";
}

<meta name="viewport" content="width=device-width, initial-scale=-100%" >
<style>
	#Input {
		width: 200px;
	}

	#Btn {
		margin: 10px 0px;
	}

	#Border {
		border-radius: 20px 70px;
		padding: 30px;
		margin: 10px;
		
		}

	

	.table tr:nth-child(Odd) {
		background: #E7E8EC;
	}

	.table th {
		border-top-color:white;
		background-color: white;
		font-size: 1.5rem;
		font-weight: normal;
	}
	
</style>


<div style="background-color:lightgray" id="Border" width="100%">
	<h1>@BABC_Logistics_core.Language.Resources.Details</h1>
	<table style="width:100%">
		<tr>
			<td><b>@BABC_Logistics_core.Language.Resources.OrderNo: </b>@Model.OrderNo</td>
			<td><b>@BABC_Logistics_core.Language.Resources.DeliveryNote: </b>@Model.LastDeliverNote</td>
			<td><b>@BABC_Logistics_core.Language.Resources.DeliveryMethod: </b>@Model.DeliverWay</td>
			<td><b>@BABC_Logistics_core.Language.Resources.DeliveryTerms: </b>@Model.DeliverTermsDescription</td>
			<td><b>@BABC_Logistics_core.Language.Resources.Weight: </b>@Model.TotalWeight</td>
		</tr>
		<tr>
			<td><b>@BABC_Logistics_core.Language.Resources.Customer: </b> @Model.DeliverCustomerName</td>
			<td><b>@BABC_Logistics_core.Language.Resources.Address1: </b> @Model.DeliverAddress1</td>
			<td><b>@BABC_Logistics_core.Language.Resources.Address2: </b> @Model.DeliverAddress2</td>
			<td><b>@BABC_Logistics_core.Language.Resources.ZipAndCity: </b>@Model.DeliverZipCity</td>

		</tr>
		<tr>
			<td><b>@BABC_Logistics_core.Language.Resources.Info: </b>@Model.Text3</td>
			<td><b>@BABC_Logistics_core.Language.Resources.Text1: </b>@Model.Text1</td>
			<td><b>@BABC_Logistics_core.Language.Resources.Text2: </b>@Model.Text2</td>
		</tr>
	</table>
</div>






<table class="table">
	<tr>
		<th>
		<h4>@BABC_Logistics_core.Language.Resources.Row</h4>
		</th>
		<th>
            <h4>@BABC_Logistics_core.Language.Resources.Product</h4>
		</th>
		<th>
            <h4>@BABC_Logistics_core.Language.Resources.Description</h4>
		</th>
        <th style="text-align:right;">
            <h4>	@BABC_Logistics_core.Language.Resources.PickingAmount</h4>
        </th>
		<th>
            <h4>@BABC_Logistics_core.Language.Resources.Info</h4>
		</th>
		<th>
            <h4>	@BABC_Logistics_core.Language.Resources.Orig</h4>
          </th>
		<th>
            <h4>@BABC_Logistics_core.Language.Resources.Del</h4>
</th>
		<th>
            <h4>	@BABC_Logistics_core.Language.Resources.Stock</h4>
</th>
		<th>
            <h4>	@BABC_Logistics_core.Language.Resources.Unit</h4>
</th>
		<th>
            <h4>	@BABC_Logistics_core.Language.Resources.Warehouse</h4>
		</th>
		<th>
			&nbsp;
		</th>
	</tr>


	@foreach (var item in Model.OrderRows)
    {
        //                string rowClass = "", inputStyle = "";
        bool partDeliver = item.DeliverState.CompareTo("4") == 0 ? true : false;
        bool fullDeliver = item.DeliverState.CompareTo("5") == 0 ? true : false;
        bool somekindOfDeliver = item.DeliverState.CompareTo("0") == 0 ? false : true;
        decimal missingAmount = 0;

        string rowStyle = "";

        if (((item.Amount - item.DeliveredAmount) > item.AmountToDeliver) && !(item.MDF.Equals("1") || item.MDF.Equals("2")))
        {
            //                    rowClass = "";
            //inputStyle = "background-color:rgba(243, 125, 125, 1);";
            missingAmount = item.AmountToDeliver.Value - (item.Amount.Value - item.DeliveredAmount.Value);
        }

        if (fullDeliver)
        {
            rowStyle = "background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);colorGrayText";
        }
        else if (partDeliver)
        {
            rowStyle = "background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);";
        }

		<tr style="@rowStyle" id="row-@item.RowNo">


			<td>
				@Html.DisplayFor(modelItem => item.RowNo)
			</td>


			<td>
				@Html.DisplayFor(modelItem => item.ProductNo)
			</td>


			<td>


				<div>
					@item.ProductDescription
				</div>
				@if (item.Textrows != null)
				{
					foreach (BABC_Logistics_core.GIS.DTO.OrderRowText t in item.Textrows)
					{
						<div style="font-style:italic;color:gray;">
							@t.Text
						</div>
					}
				}
				@if (item.MDF == "1" || item.MDF == "2")
				{
					if ((ViewBag.Materials as Dictionary<string, List<BABC_Logistics_core.GIS.DTO.MaterialRow>>).ContainsKey(item.OrderNo + item.RowNo.ToString()))
					{
						List<BABC_Logistics_core.GIS.DTO.MaterialRow> mr = (ViewBag.Materials as Dictionary<string, List<BABC_Logistics_core.GIS.DTO.MaterialRow>>)[item.OrderNo + item.RowNo.ToString()];
						<div style="font-style:italic;color:gray;margin-top:5px;border-style:solid;border-width:1px;border-color:lightgray;border-radius:5px;">
							<table style="width:100%;">
								<tr>
									<th style="border-top-width:0px;">
										<b> Material </b>
									</th>
									<th style="border-top-width:0px;">
									</th>
									<th style="border-top-width:0px;text-align:right;">
										Antal
									</th>
								</tr>
								@foreach (BABC_Logistics_core.GIS.DTO.MaterialRow m in mr)
								{
									<tr>
										<td> @m.ProductNo </td>
										<td> @m.ProductDescription </td>
										<td style="text-align:right;"> @m.Amount </td>


									</tr>
								}
							</table>
						</div>
					}
				}
			</td>
			<td style="text-align:right;">
				@if (!fullDeliver)
				{
					<span><b>@(item.Amount - item.DeliveredAmount) </b></span>
				}
				else
				{
					<span> Klar </span>
				}

			</td>
			<td>
				@if (missingAmount != 0)
				{
					<span id="missing-amount-row-@item.RowNo" class="label label-danger">@missingAmount</span>
				}
				<br />
				@if (!item.PreferedDeliverDate.Equals("") && (!item.PreferedDeliverDate.Equals(Model.PreferedDeliverDate)))
				{
					<span id="missing-amount-row-@item.RowNo" class="label label-warning">Lev.dat: @item.PreferedDeliverDate</span>
				}
			</td>
			<td style="text-align:right;">
				<span> @item.Amount </span>
			</td>
			<td style="text-align:right;">
				<span>@item.DeliveredAmount</span>
			</td>
			<td style="text-align:right;">
				<span> @item.Product.Stock </span>
			</td>
			<td style="text-align:right;">
				@Html.DisplayFor(modelItem => item.Unit)
			</td>
			<td style="text-align:right;">
				@if (string.IsNullOrEmpty(item.WarehouseNo))
				{
					if (item.Product != null)
					{
						@item.Product.WarehouseNo
					}
				}
				else
				{
					@item.WarehouseNo
				}
			</td>
			@if (item.MDF.Equals("1") || item.MDF.Equals("2"))
			{
				<td>
					<span class="glyphicon glyphicon-cog tip"></span>
				</td>
			}
			else
			{
				<td> </td>
			}

		</tr>

	}
</table>



<div>
	<form id="frmSign" class="navbar-form" style="display:inline-block;" role="form">
		<div class="form-group">
			@*<label for="exampleInputEmail1">Signatur</label>*@
			<input type="hidden" name="id" value="@Model.OrderNo" />
			<input id="sign" class="form-control uppercase" type="text" placeholder="@BABC_Logistics_core.Language.Resources.Signature" />
		</div>
		<a id="btnPick" class="btn btn-primary btn-default start-button disabled" href=""><span class="glyphicon glyphicon-phone">@BABC_Logistics_core.Language.Resources.PickWithPad</span></a>
	</form>
	<form action="/Order/PrintPickListPDF/" style="margin-left:4px; display:inline-block;">
		<div class="form-group">
			<input class="formDeliverNote" type="hidden" name="id" value="@Model.OrderNo" />
			<input class="formDeliverNote" type="hidden" name="sign" value="" />
			<button id="printButton" type="submit" class="btn btn-success @(Model.PickListState  == "5" ? "disabled" : "")"><span class="glyphicon glyphicon-print"></span>@BABC_Logistics_core.Language.Resources.PrintPickList</button>
		</div>
	</form>

</div>
<div>
</div>
<br />
<form method="post" action="/Order/Picklist">
	<button type="submit" class="btn btn-primary">Back</button>
</form>
@section Scripts {
	<script type="text/JavaScript">

		$(document).ready(function () {
			function validateSignature(signature)
			{
				$.ajax({
					url: '@Url.Action("ValidateSignature", "Order")',
					contentType: "application/json; charset=utf-8",
					data: { sign : signature },
					dataType: "",
					success: successFunc,
					error: errorFunc
				});
			}

			$("#sign").keyup(function () {
				validateSignature($('#sign').val());
			});

			function successFunc(data) {
				if (data == "true")
				{
					$(".start-button").removeClass("disabled");
					$(".start-button").attr("href", "/Order/PickOrder/?id=@Model.OrderNo&sign=" + $('#sign').val());
				}
				else
				{
					$(".start-button").addClass("disabled");
				}
			}

			function errorFunc() {
				$(".start-button").addClass("disabled");
			}
		});
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

        // do the work...
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => table.appendChild(tr));
        })));

	</script>
}

<script type="text/javascript">
</script>