﻿@model BABC_Logistics_core.Models.OrderViewModel

@{
    ViewBag.Title = "Details";
}
<meta name="viewport" content="width=device-width, initial-scale=-100%" />
<style>
    #Border {
        border-color: grey;
        border-radius: 20px 70px;
        padding: 30px;
        margin: 10px 0px;
    }

    .table th {
        background-color: white;
        border-top-color: white;
    }

    .table tr:nth-child(Even) {
        background: #E7E8EC;
    }
</style>

@*<div><a class="btn btn-primary nav-header-back-btn col-md-2" href="/Order/Picklist"><span class="glyphicon glyphicon-chevron-left"> @BABC_Logistics_core.Language.Resources.PickListHeader </span></a></div>*@

<div style="background-color:lightgray" id="Border">
    <h1>@BABC_Logistics_core.Language.Resources.PickOrder</h1>



    @*<div class="panel-heading panel-header-pickorder">
            @BABC_Logistics_core.Language.Resources.OrderHeader
        </div>*@

    <table style="width:100%">
        <tr>
            <td><b>@BABC_Logistics_core.Language.Resources.OrderNo:</b> @Html.DisplayFor(model => model.Order.OrderNo)</td>
            <td><b>@BABC_Logistics_core.Language.Resources.DeliveryNote:</b> @Html.DisplayFor(model => model.Order.LastDeliverNote)</td>
            <td><b>@BABC_Logistics_core.Language.Resources.DeliveryMethod:</b> @Html.DisplayFor(model => model.Order.DeliverWay)</td>
            <td><b>@BABC_Logistics_core.Language.Resources.DeliveryTerms:</b>@Html.DisplayFor(model => model.Order.DeliverTermsDescription)</td>
        </tr>
        <tr>
            <td><b>@BABC_Logistics_core.Language.Resources.Customer:</b> @Html.DisplayFor(model => model.Order.DeliverCustomerName)</td>
            <td><b>@BABC_Logistics_core.Language.Resources.Address1:</b> @Html.DisplayFor(model => model.Order.DeliverAddress1)</td>
            <td><b>@BABC_Logistics_core.Language.Resources.Address2:</b> @Html.DisplayFor(model => model.Order.DeliverAddress2)</td>
            <td><b>@BABC_Logistics_core.Language.Resources.ZipAndCity:</b> @Html.DisplayFor(model => model.Order.DeliverZipCity)</td>
            <td><b>@BABC_Logistics_core.Language.Resources.Weight:</b> @Html.DisplayFor(model => model.Order.TotalWeight)</td>
        </tr>
        <tr>
            <td><b>@BABC_Logistics_core.Language.Resources.Info:</b>@Html.DisplayFor(model => model.Order.Text3)</td>
            <td><b>@BABC_Logistics_core.Language.Resources.Text1:</b>@Html.DisplayFor(model => model.Order.Text1)</td>
            <td><b>@BABC_Logistics_core.Language.Resources.Text2:</b>@Html.DisplayFor(model => model.Order.Text2) </td>
        </tr>
    </table>
</div>

@{
    int idx = 0;

    <div class="panel panel-default">
        @*<div class="panel-heading panel-header-pickorder">@BABC_Logistics_core.Language.Resources.Orderrows </div>*@
        @*<button class="btn btn-primary productInfo" style="margin: 5px 5px 0 5px;"><span class=" glyphicon glyphicon-list-alt" style="margin-right: 5px;"></span>@BABC_Logistics_core.Language.Resources.OrderMatrix</button>*@
        @*<div class="btn-group" style="float:right; margin: 5px 5px 0 5px;" role="group" aria-label="...">
                <button type="button" id="showAllOrdersFilter" class="btn btn-default">@BABC_Logistics_core.Language.Resources.ShowAllRows</button>
                <button type="button" id="showDeliverOrdersFilter" class="btn btn-default active">@BABC_Logistics_core.Language.Resources.ShowLeftToDeliver</button>
            </div>*@
        <input type="hidden" id="currentFilter" value="all" />
        <div class="panel-body panel-header-body-pickorder">
            <table class="table table-responsive-md">
                <tr>
                    <th>
                        <h4>@BABC_Logistics_core.Language.Resources.Row</h4>
                    </th>
                    <th>
                        <h4>@BABC_Logistics_core.Language.Resources.Product</h4>
                    </th>
                    <th>
                        <h4>@BABC_Logistics_core.Language.Resources.Description</h4>
                    </th>
                    <th>
                        <h4>@BABC_Logistics_core.Language.Resources.PickingAmount</h4>
                    </th>
                    <th>
                        <h4>@BABC_Logistics_core.Language.Resources.Info</h4>
                    </th>
               
                    <th style="text-align:right;max-width:15px;">
                        <h4>@BABC_Logistics_core.Language.Resources.Unit</h4>
                    </th>
                    <th style="text-align:right;max-width:50px;">
                        <h4>@BABC_Logistics_core.Language.Resources.Place </h4>
                    </th>
                    <th>

                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Order.OrderRows)
                { 
                string rowClass = "", inputStyle = "";
                    bool partDeliver = item.DeliverState.CompareTo("4") == 0 ? true : false;
                    bool fullDeliver = item.DeliverState.CompareTo("5") == 0 ? true : false;
                    bool somekindOfDeliver = item.DeliverState.CompareTo("0") == 0 ? false : true;
                    bool showBackButton = item.DeliverState.CompareTo("0") > 0 && !string.IsNullOrEmpty(@Model.Order.LastDeliverNote);
                    bool isMaterialRow = (item.MDF.Equals("1") || item.MDF.Equals("2")) ? true : false;
                    bool hasStock = item.RowType.Equals("9") ? false : true;


                    decimal missingAmount = 0;

                    string rowStyle = "";

                    if (((item.Amount - item.DeliveredAmount) > item.AmountToDeliver) && !isMaterialRow && hasStock)
                    {
                        rowClass = "";
                        //inputStyle = "background-color:rgba(243, 125, 125, 1);";
                        missingAmount = item.AmountToDeliver.Value - (item.Amount.Value - item.DeliveredAmount.Value);
                    }

                    if (fullDeliver)
                    {
                        rowClass = "fullyDeliver";
                        rowStyle = "background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);colorGrayText";
                    }
                    else if (partDeliver)
                    {
                        rowStyle = "background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);";
                    }

                    <tr style="@rowStyle" id="row-@item.RowNo" class="@rowClass">
                        <td>
                            <input type="hidden" name="rows[@idx.ToString()].OrderNo" value="@item.OrderNo" />
                            <input type="hidden" name="rows[@idx.ToString()].RowNo" value="@item.RowNo" />
                            <input type="hidden" id="ora-@item.RowNo" value="@(item.Amount - item.DeliveredAmount)" />
                            @Html.DisplayFor(modelItem => item.RowNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductNo)
                            <input type="hidden" name="rows[@idx.ToString()].ProductNo" value="@item.ProductNo" />
                        </td>
                        <td>
                            <div>
                                @item.ProductDescription
                            </div>
                            @if (item.Textrows != null)
                            {
                                foreach (BABC_Logistics_core.GIS.DTO.OrderRowText t in item.Textrows)
                                {
                                    <div style="font-style:italic;color:gray;">
                                        @t.Text
                                    </div>
                                }
                            }
                        </td>
                        <td style="text-align:right;">
                            @if (fullDeliver && hasStock)
                            {
                                <div class="pull-right @rowClass">
                                    <input type="number" min="0" step="any" id="deliver-amount-row-@item.RowNo" name="rows[@idx.ToString()].AmountToDeliver" style="" class="form-control input-amount-pickorder" readonly="readonly" value="@item.DeliveredAmount" />
                                </div>
                            }
                            else if (isMaterialRow || !hasStock)
                            {
                                <div class="pull-right @rowClass">
                                    <input type="number" min="0" step="any" id="deliver-amount-row-@item.RowNo" name="rows[@idx.ToString()].AmountToDeliver" style="@inputStyle" class="form-control input-amount-pickorder" value="@((item.Amount - item.DeliveredAmount).ToString().Replace(",", "."))" />
                                </div>
                            }
                            else if (partDeliver && hasStock)
                            {
                                <div class="pull-right @rowClass">
                                    <input type="number" min="0" step="any" id="deliver-amount-row-@item.RowNo" name="rows[@idx.ToString()].AmountToDeliver" style="@inputStyle" class="form-control input-amount-pickorder" value="@item.AmountToDeliver" />
                                </div>
                            }
                            else if (item.RowType.Equals("/"))
                            {
                                <div class="pull-right @rowClass">
                                    <input type="number" min="0" step="any" id="deliver-amount-row-@item.RowNo" name="rows[@idx.ToString()].AmountToDeliver" style="@inputStyle" class="form-control input-amount-pickorder" value="@(item.Amount.ToString().Replace(",", "."))" />
                                </div>
                            }
                            else
                            {
                                <div class="pull-right @rowClass">
                                    <input type="number" min="0" step="any" id="deliver-amount-row-@item.RowNo" name="rows[@idx.ToString()].AmountToDeliver" style="@inputStyle" class="form-control input-amount-pickorder" value="@item.AmountToDeliver.ToString().Replace(",", ".")" />
                                </div>
                            }
                        </td>
                        <td>
                            @if (missingAmount != 0)
                            {
                                <span id="missing-amount-row-@item.RowNo" class="label label-danger">@missingAmount</span>
                            }
                            <br />
                            @if (!item.PreferedDeliverDate.Equals("") && (!item.PreferedDeliverDate.Equals(Model.Order.PreferedDeliverDate)))
                            {
                                <span class="label label-warning">@BABC_Logistics_core.Language.Resources.DeliveryDate: @item.PreferedDeliverDate</span>
                            }
                        </td>
                       
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td style="text-align:right;">
                            @if (string.IsNullOrEmpty(item.WarehouseNo))
                            {
                                if (item.Product != null)
                                {
                                    @item.Product.WarehouseNo
                                }
                            }
                            else
                            {
                                @item.WarehouseNo
                            }
                        </td>
                        
                        <td>
                            <div id="deliver-buttons-@item.RowNo" class="btn-group pull-right" style="display:@(showBackButton ? "none;" : "block;")">
                                <button id="btn-deliver-full-@item.RowNo" data-state="5" data-order="@item.OrderNo" data-row="@item.RowNo" class="btn btn-primary btn-deliver-row">@BABC_Logistics_core.Language.Resources.FinalDel</button>
                                <button id="btn-deliver-part-@item.RowNo" data-state="4" data-order="@item.OrderNo" data-row="@item.RowNo" class="btn btn-primary btn-deliver-row"> @BABC_Logistics_core.Language.Resources.PartDel</button>
                            </div>
                        </td>
                        <td>
                            <div id="back-buttons-@item.RowNo" class="btn-group pull-right" style="display:@(showBackButton ? "block;" : "none;")">
                                <a id="btn-back-@item.RowNo" data-order="@item.OrderNo" data-row="@item.RowNo" class="btn btn-danger btn-back-row btn-prog" >@BABC_Logistics_core.Language.Resources.Back</a>
                            </div>
                        </td>
                      

                        
                        
                        @if (item.MDF.Equals("1") || item.MDF.Equals("2"))
                        {
                            <td class="glyphicon glyphicon-cog tip" data-toggle="tooltip" data-placement="top" data-original-title="Detta är en monteringsartikel"></td>
                        }
                        else
                        {

                        }
                    </tr>
                    idx++;
                }
                @if (Model.SelectableProducts.Count > 0)
                {
                    <tr>
                        <td colspan="12">
                            <div>
                                <a id="btn-new-row" href="#" class="btn btn-primary glyphicon glyphicon-plus btn-order-list"> Ny rad</a>
                                <div id="div-add-row" class="panel panel-default panel-add-row" style="display:none">
                                    <form id="addRow" action="/Order/AddOrderRow">
                                        <input type="hidden" name="onr" value="@Model.Order.OrderNo" />
                                        <input type="hidden" name="sign" value="@Model.Order.Season" />
                                        <table style="width:100%;border-collapse:separate;border-spacing:10px;">
                                            <tr>
                                                <th>Artikel</th>
                                                <th>Antal</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left;width:60px;">
                                                    <select id="package-type" name="anr" class="ProductTypes form-control">
                                                        @foreach (BABC_Logistics_core.GIS.DTO.Product p in Model.SelectableProducts)
                                                        {
                                                            <option value="@p.ProductNo">@p.Description</option>
                                                        }
                                                    </select>
                                                </td>
                                                <td style="text-align:left;width:40px;">
                                                    <input type="number" min="0" step="any" class="form-control" id="amount" name="amount" value="" />
                                                </td>
                                                <td style="text-align:left;width:120px;">
                                                    <div class="btn-group pull-left">
                                                        <input type="submit" id="btn-add-row" class="btn btn-primary" value="Lägg till" />
                                                        <input type="button" id="btn-add-row-cancel" class="btn btn-danger" value="Avbryt" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

}
<div id="deliverAlert" class="alert alert-danger" hidden="hidden">
    <button type="button" class="close" data-hide="alert">&times;</button>
    <strong>Leverans Misslyckades! </strong><span id="deliverMsg"></span>
</div>

<div>
    <table>
        <tr>
            <td>
                <div class="form-group">
                    <a class="btn btn-danger start-button" href="/Order/CancelPickOrder/@Model.Order.OrderNo"><span class="glyphicon glyphicon-remove"></span> @BABC_Logistics_core.Language.Resources.CancelPick</a>
                </div>
            </td>
            @*<td>
                    <form action="/Order/PrintDeliverNoteToPDF/" style="margin-left:4px;">
                        <div class="form-group">
                            <input class="formDeliverNote" type="hidden" name="id" value="@Model.Order.LastDeliverNote" />
                            <input class="" type="hidden" name="sign" value="" />
                            <input class="" type="hidden" name="noOfCopies" value="1" />
                            <input class="" type="hidden" name="delivercode" value="1" />
                            <button id="printButton" type="submit" class="btn btn-success" @(Model.Order.LastDeliverNote == "" ? "disabled" : "")><span class="glyphicon glyphicon-print"></span>@BABC_Logistics_core.Language.Resources.Print </button>
                        </div>
                    </form>
                </td>*@
            <td>
                <form action="/Order/ViewDeliveredOrder" style="margin-left:4px;">
                    <div class="form-group">
                        <input class="formDeliverNote" type="hidden" name="id" value="@Model.Order.LastDeliverNote" />
                        <button id="fsButton" type="submit" class="btn btn-primary" @(Model.Order.LastDeliverNote == "" ? "disabled" : "")><span class="glyphicon glyphicon-file"></span> @BABC_Logistics_core.Language.Resources.DeliveryNote </button>
                    </div>
                </form>
            </td>
            <td>
                <form action="/Order/ViewTransport" style="margin-left:4px;">
                    <div class="form-group">
                        <input class="formDeliverNote" type="hidden" name="id" value="@Model.Order.LastDeliverNote" />
                        <input class="formDeliverNote" type="hidden" name="backpath" value="/Order/PickOrder/@Model.Order.OrderNo" />
                        <button id="btButton" type="submit" class="btn btn-primary" disabled ><span class="glyphicon glyphicon-tags"></span>Handle Goods</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>

<script>
    $(function () {
        $("[data-hide]").on("click", function () {
            $(this).closest("." + $(this).attr("data-hide")).hide();
        });
    });

    function changeSumForRow(row, sumId) {
        var sum = 0;
        var inputValues = $('.' + row).map(function () {
            return $(this).val();
        }).toArray();
        for (var i = 0; i < inputValues.length; i++) {
            if (Number(inputValues[i])) {
                sum = +sum + +inputValues[i];
            }
        }
        $('#' + sumId).text(sum);
        changeTotalSum();
    }


    function changeTotalSum() {
        var sum = 0;
        var inputValues = $('.sumUpdates').map(function () {
            return $(this).val();
        }).toArray();
        for (var i = 0; i < inputValues.length; i++) {
            var splitted = inputValues[i].split(":");

            if (Number($('#' + splitted[1]).text())) {
                sum = +sum + +$('#' + splitted[1]).text();
            }
        }
        $('#sumTotal').text(sum);
    }

    function deliverRows(orderNo, row, checkboxId)
    {
        var deliverState = "4";
        alert("deliverRows");

        if ($('#' + checkboxId).is(":checked")) {
            deliverState = "5";
            console.log("Checked - Do full deliver");
            if (confirm('@BABC_Logistics_core.Language.Resources.FinalDeliverMessage') == false) {
                return;
            }
        }
        else {
            console.log("Not checked - Partial deliver");
        }

        var inputValues = $('.' + row).map(function () {
            var sizeInput;


            if (!Number($(this).val()) && $(this).val() != 0) {
                alert($(this).val());

                console.log("Not a number");
                return null;
            }
            else {
               /* if ($(this).val() == 0 || $(this).val() == "0") {
                    console.log("0 value");
                    return null;
                }
                else {*/
                    sizeInput = { "RowNo": $(this).attr("data-order"), "AmountToDeliver": $(this).val() };
               // }
            }
            return sizeInput;
        }).toArray();

        console.log(inputValues);
        console.log(JSON.stringify({ order: orderNo, rows: inputValues, state: deliverState }));
        $("#pg-bar").show();

        var options = {};
        options.url = "/Order/DeliverOrderRows";
        options.type = "POST";
        options.data = JSON.stringify({ order: orderNo, rows: inputValues, state: deliverState });
        options.dataType = "text";
        options.contentType = "application/json";
        options.traditional = true;
        options.success = function (states) {

            if (states != "FAILED") {

                $('#productMatrix').load("/Order/OrderRowMatrix", { onr: orderNo }, function (test) {
                    $('#productMatrix').dialog('open');
                    var inputValues = $('.sumUpdates').map(function () {
                        return $(this).val();
                    }).toArray();
                    for (var i = 0; i < inputValues.length; i++) {
                        var splitted = inputValues[i].split(":");
                        changeSumForRow(splitted[0], splitted[1]);
                    }
                    $("#pg-bar").hide();
                });



            }
            return false;
        };
        options.error = function (test) { alert("Error retrieving states!"); $("#pg-bar").hide(); };
        $.ajax(options);
    }

    function backDeliverRow(orderNo, rows) {
        $("#pg-bar").show();

        var options = {};
        options.url = "/Order/BackDeliverOnOrderRows";
        options.type = "POST";
        options.data = JSON.stringify({ order: orderNo, rowIds: rows});
        options.dataType = "text";
        options.contentType = "application/json";
        options.traditional = true;
        options.success = function (states) {

            if (states != "FAILED") {

                $('#productMatrix').load("/Order/OrderRowMatrix", { onr: orderNo }, function (test) {
                    $('#productMatrix').dialog('open');
                    var inputValues = $('.sumUpdates').map(function () {
                        return $(this).val();
                    }).toArray();
                    for (var i = 0; i < inputValues.length; i++) {
                        var splitted = inputValues[i].split(":");
                        changeSumForRow(splitted[0], splitted[1]);
                   }
                    $("#pg-bar").hide();
                });



            }
            return false;
        };
        options.error = function (test) { alert("Error retrieving states!"); $("#pg-bar").hide(); };
        $.ajax(options);


    }
        var showAll = true;
        $(document).ready(function () {
        // Init with only rows remaining
        $("#showAllOrdersFilter").removeClass("active");
        $("#showDeliverOrdersFilter").addClass("active");
        $(".fullyDeliver").addClass("fullyDeliverHide");
        showAll = false;

        $("#showAllOrdersFilter").click(function (e) {
            $("#showAllOrdersFilter").addClass("active");
            $("#showDeliverOrdersFilter").removeClass("active");
            $(".fullyDeliver").removeClass("fullyDeliverHide");
            showAll = true;
        });
        $("#showDeliverOrdersFilter").click(function (e) {
            $("#showAllOrdersFilter").removeClass("active");
            $("#showDeliverOrdersFilter").addClass("active");
            $(".fullyDeliver").addClass("fullyDeliverHide");
            showAll = false;
        });

        var test = window.localStorage.getItem('scroll');
        if(test != null) {
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
            window.localStorage.removeItem('scroll');
        }

        //artikelmatris
        $(function () {
            $(".productInfo").click(function (e) {
                $("#pg-bar").show();
                e.preventDefault();
               var test = '@Model.Order.OrderNo';
                $('#productMatrix').load("/Order/OrderRowMatrix", { onr: '@Model.Order.OrderNo' }, function (test) {
                    $('#productMatrix').dialog('open');
                    var inputValues = $('.sumUpdates').map(function () {
                        return $(this).val();
                    }).toArray();
                    for (var i = 0; i < inputValues.length; i++) {
                        var splitted = inputValues[i].split(":");
                        changeSumForRow(splitted[0], splitted[1]);

                    }
                    $("#pg-bar").hide();
                });
                return false;
            });
        });

        //$(function () {
        //    $('#productMatrix').dialog({
        //        autoOpen: false,
        //        width: 1200,
        //        resizable: true,
        //        title: 'Ordermatris',
        //        modal: true,
        //        beforeClose: function (event, ui) { window.location.reload(); }

        //    });
        //});
    });


    $('#btn-new-row').click(function () {
        $(this).hide();
        $('#div-add-row').css("display", "block")

        return false;
    });

    $('#btn-add-row').click(function () {
        window.localStorage.setItem('scroll', 'true');
    });

    $('#btn-add-row-cancel').click(function () {
        $('#btn-new-row').show();
        $('#div-add-row').css("display", "none")
    });
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    $('.btn-deliver-row').click(function () {
        var current = "#" + this.id;
        $(current).attr('disabled', 'disabled');
        var back = "#back-buttons-" + $(current).attr("data-row");
        var dAmount = $("#deliver-amount-row-" + $(current).attr("data-row")).val();
        var dOra = $("#ora-" + $(current).attr("data-row")).val().replace(',', '.');
        var state = $(current).attr("data-state");
        var sum = dOra - dAmount;
       var doDeliver = true;

        // If return order, do negative sum positive for check
        if (dAmount < 0)
            sum =- sum;

        if ((state == "5") && (sum > 0))
        {
            if (confirm("Vill du verkligen slutleverera denna rad?") == false)
            {
                doDeliver = false;
                $("#pg-bar").hide();
            }
        }
        if (doDeliver == true)
        {
            var options = {};
            options.url = "/Order/DeliverOrderRow";
            options.type = "POST";
            options.data = { order: $(current).attr("data-order"), row: $(current).attr("data-row"), state: $(current).attr("data-state"), amount: dAmount }; //JSON.stringify({ order: $(current).attr("data-order"), row: $(current).attr("data-row"), state: $(current).attr("data-state"), amount: dAmount });
            options.dataType = "text";
            //options.contentType = "application/json";
            options.success = function (states) {
                if (!states.startsWith("FAILED")) {
                    $(current).parent().css("display", "none");
                    $(back).css("display", "block");
                    $(".formDeliverNote").val(states);
                    $("#delivernote").text(states);
                    $("#fsButton").prop("disabled", false);
                    $("#btButton").prop("disabled", false);
                    $("#printButton").prop("disabled", false);
                    $("#deliver-amount-row-" + $(current).attr("data-row")).attr("readonly", "readonly");
                    if ($(current).attr("data-state") == "4") {
                        $("#row-" + $(current).attr("data-row")).attr("style", "background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);");
                    }
                    else {

                        $("#row-" + $(current).attr("data-row")).attr("style", "background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);colorGrayText");
                        $("#row-" + $(current).attr("data-row")).addClass("fullyDeliver");
                        if (!showAll) {
                            $("#row-" + $(current).attr("data-row")).addClass("fullyDeliverHide");
                        }
                    }
                }
                else
                {
                    $("#deliverMsg").text(states);
                    $("#deliverAlert").show();
                }

                $("#pg-bar").hide();
                $(current).attr('disabled', false);

                return false;
            };

            options.error = function () { alert("Error retrieving states!"); };
            $.ajax(options);
        }

        //$("#pg-bar").hide();
        return false;
    });

    $('.btn-back-row').click(function () {
        var current = "#" + this.id;
        var deliver = "#deliver-buttons-" + $(current).attr("data-row");

//        alert(current + " - " + back);
        var options = {};
        options.url = "/Order/BackDeliverOnOrderRow";
        options.type = "POST";
        options.data = { order: $(current).attr("data-order"), row: $(current).attr("data-row"), state: $(current).attr("data-state") };
        options.dataType = "text";
        //options.contentType = "application/json";
        options.success = function (states) {
            if (states != "FAILED")
            {


                $(current).parent().css("display", "none");
                $(deliver).css("display", "block");
                $("#row-" + $(current).attr("data-row")).attr("style", "");
                $("#deliver-amount-row-" + $(current).attr("data-row")).removeAttr("readonly");
                //$("#missing-amount-row-" + $(current).attr("data-row")).css("display", "none");
                $("#row-" + $(current).attr("data-row")).removeClass("fullyDeliver");
                $("#row-" + $(current).attr("data-row")).removeClass("fullyDeliverHide");

            }

            $("#pg-bar").hide();
            return false;
        };
        options.error = function () { alert("Error retrieving states!"); };
        $.ajax(options);
    });


</script>
