﻿@model IEnumerable<BABC_Logistics_core.GIS.DTO.OrderHead>

@{
    ViewBag.Title = "Order";
}
    <meta name="viewport" content="width=device-width, initial-scale=-100%" />
<style>
    #Border {
        border-color: grey;
        border-radius: 20px 70px;
        padding: 30px
    }
    .table{
        margin: 10px 0px;

    }
        .table th {
            background-color: white;
            border-top-color:white;
        }

        .table tr:nth-child(Even) {
            background: #E7E8EC;
        }
       
    
</style>
<div style="background-color:lightgray" id="Border">

    <h1>Plocklista</h1>


    <table id="Table1">
        <tr>

            <td>
                <form class="navbar-form navbar-left"
                      role="search"
                      method="post"
                      action="/Order/PickList">
                    <div class="form-group">
                        <input type="hidden"
                               name="search_type"
                               value="supplie" />
                        <input type="hidden"
                               name="search_value"
                               value="@DateTime.Now.ToString("yyMMdd")" />
                    </div>
                    <button type="submit"
                            class="btn btn-primary @(ViewBag.search_type == "supplie" ? "active btn-success" : "") btn-prog">
                        @BABC_Logistics_core.Language.Resources.PickSupplieOrder
                    </button>
                </form>
            </td>
            
        </tr>
        
    </table>

    






</div>



<table id="myTable" class="table">
  <thead>
      <tr style="cursor:pointer">
          <th>
              <h4> @BABC_Logistics_core.Language.Resources.OrderNo</h4>
          </th>
          <th>
              <h4> @BABC_Logistics_core.Language.Resources.Customer</h4>
          </th>
        
          <th>
              <h4>@BABC_Logistics_core.Language.Resources.DeliveryDate</h4>
          </th>
          <th>
              <h4> @BABC_Logistics_core.Language.Resources.Info</h4>
          </th>
          <th>
              <h4> @BABC_Logistics_core.Language.Resources.Rows</h4>
          </th>
          <th>
              <h4> @BABC_Logistics_core.Language.Resources.Rows2</h4> 
          </th>
     
      </tr>
    </thead>

      
       
    
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)

            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DeliverCustomerName)
            </td>
            <td>
                @item.PreferedDeliverDate
                
            </td>
           
            
           <td>
                @if (item.PickListState == "9")
                {
                    <span class="badge badge-success">REST</span>
                }
                @if (!string.IsNullOrEmpty(item.CountryCode))
                {
                    <span class="badge badge-info">@item.CountryCode</span>
                }
                @if (item.Relations)
                {
                    <span class="badge badge-danger">IK</span>
                }
                @if (item.isPrioOrder)
                {
                    <span class="badge badge-danger">#!</span>
                }
            </td>

            <td style="text-align:center;">
                @item.OrderRows.Count.ToString()
            </td>
            <td style="text-align:center;">
                @if (item.IsWholeOrderDeliverable == true)
                {
                    <div><span style="">@item.OrderRows.Count</span></div>

                    @*<span class="label label-success">
                    <span class="glyphicon glyphicon-ok"></span>
                </span>*@
                }
                else
                {
                    int sum = @item.OrderRows.Count - @item.NonDeliverableRows;

                    <span style="">@sum</span><span style=""> / </span><span style="color:coral">@item.NonDeliverableRows</span>
                }
            </td>
            <td align="right">
                @if (!ViewBag.search_type.Equals("customer") && item.PickListState != "9")
                {
                    if (item.IsDeliveryAddressUnique == false)
                    {
                        if (item.AdditionalOrders)
                        {

                            <form class="navbar-form navbar-left" role="search" method="post" action="/Order/PickList" target="_blank">
                                <div class="form-group">
                                    <input type="hidden" name="search_type" value="customer" />
                                    <input type="hidden" name="search_value" value="@item.DeliverCustomerNo" />
                                </div>
                                
                            </form>
                        }
                    }
                    
                    <form class="navbar-form navbar-left pull-right" action="Details" role="search" method="post">
                        <input type="hidden" name="id" value="@item.OrderNo" />
                        <button type="submit" class="btn btn-primary">@BABC_Logistics_core.Language.Resources.Details</button>
                    </form>
                }
                else
                {
                    <form class="navbar-form navbar-left pull-right" action="Details" role="search" method="post">
                        <input type="hidden" name="id" value="@item.OrderNo" />
                        <button disabled type="submit" class="btn btn-dark">@BABC_Logistics_core.Language.Resources.Details</button>
                    </form>
                }
            </td>
           
        </tr>
            }
        }
    </tbody>

</table>

<script>
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

    const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
        v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

    // do the work...
    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
        const table = th.closest('table');
        Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => table.appendChild(tr));
    })));
    if (!Modernizr.inputtypes.date) {
        $("#dateFrom").datepicker(
            { format: "yy-mm-dd" }
        );

        $("#dateTo").datepicker(
            { format: "yy-mm-dd" }
        );
    }

    $("#pg-bar").hide();

   

</script>



