﻿@model BABC_Logistics_core.GIS.DTO.OrderHead

@{
    ViewBag.Title = "Details";
}

<div class="nav-header row">
    @*<div><a class="btn btn-primary nav-header-back-btn col-md-2 noprint" href="/Order/Picklist?search_type=today&search_value=99"><span class="glyphicon glyphicon-chevron-left"> Plocklista </span></a></div>*@
    @*@<div class="col-md-3"></div>*@ <div class="col-md-5"></div>
    <div class="col-md-6"><h1><span class="label label-default">Följesedel</span></h1></div>
</div>

<div class="panel panel-default ">
    <div class="panel-heading panel-header-details">
        Orderhuvud
    </div>
    <div class="panel-body panel-header-body-details">
        <table style="width:100%">
            <tr>
                <td><b>Order:</b> @Html.DisplayFor(model => model.OrderNo)</td>
                <td><b>Följesedel:</b> @Html.DisplayFor(model => model.LastDeliverNote)</td>
                <td><b>Leveranssätt:</b> @Html.DisplayFor(model => model.DeliverWay)</td>
            </tr>
            <tr>
                <td><b>Kund:</b> @Html.DisplayFor(model => model.DeliverCustomerName)</td>
                <td><b>Adress 1:</b> @Html.DisplayFor(model => model.DeliverAddress1)</td>
                <td><b>Adress 2:</b> @Html.DisplayFor(model => model.DeliverAddress2)</td>
                <td><b>Pnr och Ort:</b> @Html.DisplayFor(model => model.DeliverZipCity)</td>
            </tr>
            <tr>
                <td><b>Plocksedelinfo 1:</b>@ViewBag.Customer.Text_3</td>
                <td><b>Plocksedelinfo 2:</b>@ViewBag.Customer.Text_5</td>
                <td><b>Plocksedelinfo 3:</b>@ViewBag.Customer.Text_6</td>
            </tr>
        </table>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading panel-header-details">
        Orderrader
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    Rad
                </th>
                <th>
                    Artikel
                </th>
                <th>
                    Beskrivning
                </th>
                <th style="text-align:right;">
                    Levererat
                </th>
                <th style="text-align:right;max-width:20px;">
                    Enhet
                </th>
            </tr>

            @foreach (var item in Model.OrderRows)
            {
                bool partDeliver = item.DeliverState.CompareTo("4") == 0 ? true : false;
                bool fullDeliver = item.DeliverState.CompareTo("5") == 0 ? true : false;
                bool somekindOfDeliver = item.DeliverState.CompareTo("0") == 0 ? false : true;

                string rowStyle = "";

                if (fullDeliver)
                {
                    rowStyle = "background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);colorGrayText";
                }
                else if (partDeliver)
                {
                    rowStyle = "background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);";
                }

                <tr style="@rowStyle" id="row-@item.RowNo">
                    <td>
                        @Html.DisplayFor(modelItem => item.RowNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNo)
                    </td>
                    <td>
                        @item.ProductDescription
                    </td>
                    <td style="text-align:right;">
                        <span>@item.DeliveredAmount</span>
                    </td>
                    <td style="text-align:right;">
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                    <td style="text-align:right;">
                        @if (string.IsNullOrEmpty(item.WarehouseNo))
                        {
                            if (item.Product != null)
                            {
                                @item.Product.WarehouseNo
                            }
                        }
                        else
                        {
                            @item.WarehouseNo
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div>
    <a class="btn btn-primary start-button noprint" href="/Order/PickOrder/@Model.OrderNo/@Model.Season"><span class="glyphicon glyphicon-arrow-left"> Tillbaka </span></a>

    @if (Model.LastDeliverNoteState == "5")
    {
        <a class="btn btn-default start-button noprint disabled" href="/Order/PrintDeliverNote/@Model.LastDeliverNote"><span class="glyphicon glyphicon-print"> Utskriven </span></a>
    }
    else
    {
        <a class="btn btn-success start-button noprint" href="/Order/PrintDeliverNote/@Model.LastDeliverNote"><span class="glyphicon glyphicon-print"> Skriv ut </span></a>
    }

</div>








@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ViewDeliveredOrder</title>
    </head>
    <body>
    </body>
    </html>*@
