﻿@{ ViewData["Title"] = "Home Page"; }
<link rel="stylesheet" href="~/css/site.css" />
<style>
        #MainPicture {
            height: 150px;
            width: 700px;
        }
    </style>


    <div class="embed-responsive">
        <img src="~/Images/thermotech.jpg" id="MainPicture" />


    </div>


@*<html lang="en">
<style>
    .jumbotron {
        background-color: #f4511e; /* Orange */
        color: #ffffff;
        margin:0px;
        border-radius:15px;
       
        
    }
</style>
<head>
    <title>Bootstrap Theme Company</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
</body>*@
</html>