﻿@model BABC_Logistics_core.GIS.DTO.PurchaseOrderHead
@{
    ViewBag.Title = "Details";
}


<style>
    .table th {
        background-color: white;
        border-top-color: white;
    }
        .table tr:nth-child(Odd) {
        background: #E7E8EC;
    }
    #Border {
        border-color: grey;
        border-radius: 20px 70px;
        padding: 30px;
        margin: 10px 0px;
    }
    #sign
    {
        width:170px;

    }
</style>

<div style="background-color:lightgray" id="Border">
    
        <!--<div><a class="btn btn-primary nav-header-back-btn col-md-2" href="/Purchase/PickList"><span class="glyphicon glyphicon-chevron-left"> Lista </span></a></div>-->
       
        <h1> @BABC_Logistics_core.Language.Resources.Details</h1>
    

    
        
            <table style="width:100%">
                <tr>
                    <td><b> @BABC_Logistics_core.Language.Resources.OrderNo:</b> @Html.DisplayFor(model => model.OrderNo)</td>
                    <td><b> @BABC_Logistics_core.Language.Resources.DeliveryMethod:</b> @Html.DisplayFor(model => model.DeliverWay)</td>
                    <td><b> @BABC_Logistics_core.Language.Resources.TransportMark:</b>@Html.DisplayFor(model => model.Text3)</td>
                    <td>
                        <b> @BABC_Logistics_core.Language.Resources.Purschaseflag</b>
                        @if (Model.ConnectedOrder)
                        {
                            <span class="label label-warning"><span class="glyphicon glyphicon-link"></span></span>
                        }
                    </td>
                </tr>
                <tr> 
                    <td><b> @BABC_Logistics_core.Language.Resources.SupplierName:</b> @Html.DisplayFor(model => model.SupplierName)</td>
                    <td><b> @BABC_Logistics_core.Language.Resources.Text1:</b> @Html.DisplayFor(model => model.Text1)</td>
                    <td><b> @BABC_Logistics_core.Language.Resources.Text2:</b> @Html.DisplayFor(model => model.Text2)</td>
                </tr>
            </table>
        
    
    </div>

    <div class="panel panel-default">
        @*<div class="panel-heading panel-header-details">
            Orderrader
        </div>*@
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        @BABC_Logistics_core.Language.Resources.Row
                    </th>
                    <th>
                        @BABC_Logistics_core.Language.Resources.Product
                    </th>
                    <th>
                        @BABC_Logistics_core.Language.Resources.Description
                    </th>
                    <th style="text-align:right;">
                        @BABC_Logistics_core.Language.Resources.Deliver
                    </th>
                    <th>
                        @BABC_Logistics_core.Language.Resources.Info
                    </th>
                    <th style="text-align:right;max-width:15px;">
                        Origin
                    </th>
                    <th style="text-align:right;max-width:15px;">
                        @BABC_Logistics_core.Language.Resources.Del
                    </th>
                    <th style="text-align:right;max-width:15px;">
                        @BABC_Logistics_core.Language.Resources.Stock
                    </th>
                    <th style="text-align:right;max-width:15px;">
                        @BABC_Logistics_core.Language.Resources.Unit
                    </th>
                    <th>
                        @BABC_Logistics_core.Language.Resources.WarehouseNo
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>


                @foreach (var item in Model.OrderRows)
                {
                    //                string rowClass = "", inputStyle = "";
                    bool partDeliver = item.DeliverState.CompareTo("4") == 0 ? true : false;
                    bool fullDeliver = item.DeliverState.CompareTo("5") == 0 ? true : false;
                    bool somekindOfDeliver = item.DeliverState.CompareTo("0") == 0 ? false : true;

                    string rowStyle = "";

                    if (fullDeliver)
                    {
                        rowStyle = "background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);";
                    }
                    else if (partDeliver)
                    {
                        rowStyle = "background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);";
                    }

                    <tr style="@rowStyle" id="row-@item.RowNo">
                        <td>
                            @Html.DisplayFor(modelItem => item.RowNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductNo)
                        </td>
                        <td>
                            <div>
                                @item.ProductDescription
                            </div>
                            @if (item.Textrows != null)
                            {
                                foreach (BABC_Logistics_core.GIS.DTO.OrderRowText t in item.Textrows)
                                {
                                    <div style="font-style:italic;color:gray;">
                                        @t.Text
                                    </div>
                                }
                            }
                        </td>
                        <td style="text-align:right;">
                            @if (!fullDeliver)
                            {
                                <span><b>@(item.Amount - item.DeliveredAmount)</b></span>
                            }
                            else
                            {
                                <span>Klar</span>
                            }

                        </td>
                        <td>
                        </td>
                        <td style="text-align:right;">
                            <span>@item.Amount</span>
                        </td>
                        <td style="text-align:right;">
                            <span>@item.DeliveredAmount</span>
                        </td>
                        <td style="text-align:right;">
                            <span>@item.Product.Stock</span>
                        </td>
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td style="text-align:right;">
                            @if (string.IsNullOrEmpty(item.WarehouseNo))
                            {
                                if (item.Product != null)
                                {
                                    @item.Product.WarehouseNo
                                }
                            }
                            else
                            {
                                @item.WarehouseNo
                            }
                        </td>

                    </tr>

                }
            </table>

        </div>
    </div>
    <div>
        <form id="frmSign" class="navbar-form" role="form">
            <div class="form-group">
                @*<label for="exampleInputEmail1">Signatur</label>*@
                <input type="hidden" name="id" value="@Model.OrderNo" />
                <input id="sign" class="form-control uppercase" type="text" placeholder="Signatur" />
            </div>
            <a id="btnPick" class="btn btn-primary btn-default start-button disabled" href=""><span class="glyphicon glyphicon-phone"> Inleverans </span></a>
        </form>
    </div>
    <div>
    </div>
    <br />
    <p>
        @Html.ActionLink("Tillbaka till listan", "PickList")
    </p>

    @section Scripts {
        <script type="text/JavaScript">

        $(document).ready(function () {
            function validateSignature(signature)
            {
                $.ajax({
                    url: '@Url.Action("ValidateSignature", "Order")',
                    contentType: "application/json; charset=utf-8",
                    data: { sign : signature },
                    dataType: "",
                    success: successFunc,
                    error: errorFunc
                });
            }

            $("#sign").keyup(function () {
                validateSignature($('#sign').val());
            });

            function successFunc(data) {
                if (data == "true")
                {
                    $(".start-button").removeClass("disabled");
                    $(".start-button").attr("href", "/Purchase/PickOrder?id=@Model.OrderNo&sign=" + $('#sign').val());
                }
                else
                {
                    $(".start-button").addClass("disabled");
                }
            }

            function errorFunc() {
                $(".start-button").addClass("disabled");
            }
        });

        </script>
    }

    <script type="text/javascript">
    </script>
