﻿@model BABC_Logistics_core.Models.PurchaseListVM

@{
    ViewBag.Title = BABC_Logistics_core.Language.Resources.PurchaseMenu;
}
    





    <style>
        .table th {
            border-top-color: white;
            background-color: white;
        }

        .table tr:nth-child(Even) {
            background: #E7E8EC;
        }

        #Border {
            border-color: grey;
            border-radius: 20px 70px;
            padding: 30px;
            margin: 10px 0px;
           
        }
       
        #search{
            width:170px;


        }
        #sarchbtn{
            margin: 10px 0px;
        }
       #body{

           padding:0;
           margin:0;
           



       }
       
      

        </style>
    <body>
        <div style="background-color:lightgray" id="Border">

            <h1>@BABC_Logistics_core.Language.Resources.PurchaseMenu</h1>


            <div class="tab-pane panel-body" id="search">
                <form class="navbar-form navbar-left" role="search" action="Details" method="post">
                    <div class="form-group">
                        <input id="search" type="text" class="form-control input-search-sku" name="id" placeholder="@BABC_Logistics_core.Language.Resources.OrderNo" />
                        <button type="submit" id="sarchbtn" class="btn btn-primary">@BABC_Logistics_core.Language.Resources.Search</button>
                    </div>
                </form>
            </div>
        </div>

        <table id="table" class="table">
            <thead>
                <tr style="cursor: pointer">
                    
                    <th>
                        <h4> @BABC_Logistics_core.Language.Resources.OrderNo</h4>
                    </th>
                    <th>
                        <h4> @BABC_Logistics_core.Language.Resources.SupplierName</h4>
                    </th>
                  <th>
                        <h5> @BABC_Logistics_core.Language.Resources.DeliveryTerms</h5>
                    </th>
                    <th>
                        <h5> @BABC_Logistics_core.Language.Resources.DeliveryDate</h5>
                    </th>
                    <th>
                        <h4> @BABC_Logistics_core.Language.Resources.Info</h4>
                    </th>
                    <th style="text-align:center;"><h4>@BABC_Logistics_core.Language.Resources.Rows</h4></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @if (Model != null)
            {
                foreach (var item in Model.OrderHeads)
                {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.OrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierName)
        </td>
      
      
        <td>
            @Html.DisplayFor(modelItem => item.DeliverTerms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferedDeliverDate)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.CountryCode))
            {
    <span class="label label-info">@item.CountryCode</span>}
            @if (item.ConnectedOrder)
            {
    <span class="label label-warning"><span class="glyphicon glyphicon-link"></span></span>}
        </td>
        <td style="text-align:center;">
            @item.OrderRows.Count.ToString()
        </td>
        <td style="text-align:center;"></td>
        <td align="right">
            <form class="navbar-form navbar-left pull-right" action="Details" role="search" method="post">
                <input type="hidden" name="id" value="@item.OrderNo" />
                <button type="submit" class="btn btn-primary">Details</button>
            </form>
        </td>
    </tr>                }
                }
        </table>

        <script>
            const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

            const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

            // do the work...
            document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
                const table = th.closest('table');
                Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(tr => table.appendChild(tr));
            })));

            if (!Modernizr.inputtypes.date) {
                $("#dateFrom").datepicker(
                    { format: "yy-mm-dd" }
                );

                $("#dateTo").datepicker(
                    { format: "yy-mm-dd" }
                );
            }

            //$("#pg-bar").hide();
            //$(document).ready(function () {
            //    $("#picklistTable").tablesorter();
           

        </script>

    </body>
